.u-none {
  display: none !important;
  &\@md {
    @include only-md {
      display: none !important;
    }
  }
  &\@sm {
    @include only-sm {
      display: none !important;
    }
  }
  &\@xs {
    @include only-xs {
      display: none !important;
    }
  }
}

.u-color-yellow {
  background-color: $yellow;
}

.u-color-gray {
  background-color: $gray;
}

.u-text-color-white {
  color: $white;
}

.u-text-color-black {
  color: $black;
}

.u-color-blue {
  background-color: $blue;
}

.u-opacity {
  opacity: 0;
}

.u-relative {
  position: relative;
}

.u-text-center {
  text-align: center;
}

.u-overflow {
  overflow: hidden;
}

@media print {
  .u-none\@print {
    display: none !important;
  }
}
