.c-article {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  &__inner {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 22;
    transition: 0.2s all ease-in-out;
    box-sizing: border-box;
    &:hover {
      height: calc(100% + 32px);
      .c-article__link {
        opacity: 1;
      }
    }
  }
  &__content {
    box-shadow: 0px 4px 40px rgb(0 0 0 / 7%);
    border-radius: 0 0 10px 10px;
    margin: 0;
    position: relative;
    height: 100%;
  }
  &__image {
    img {
      object-fit: cover;
      height: 204px;
      width: 100%;
      object-position: center;
      border-radius: 10px 10px 0 0;
    }
  }
  &__info {
    //padding: 40px 20px 70px 26px;
    padding: 40px 20px 0px 26px;
    position: relative;
    border-radius: 0 0 10px 10px;
    min-height: 235px;
  }
  &__title {
    color: $black;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    font-family: $font-d;
    text-align: left;
    margin: 0;
    margin-bottom: 20px;
  }
  &__subtitle {
    color: $gray;
    font-family: $font-b;
    text-align: left;
    margin: 0;
  }
  &__link {
    color: $yellow;
    font-family: $font-c;
    font-weight: 700;
    font-size: 15px;
    text-decoration: none;
    position: absolute;
    bottom: -10px;
    left: 26px;
    opacity: 0;
  }
}
