.c-input {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid #cfcfcf;
  padding: 12px 12px 12px 21px;
  outline: 0;
  font-weight: 400;
  font-size: 14px;
  font-family: $font-b;
  &:focus {
    border: 1px solid $yellow;
  }
  .is-error & {
    border: 1px solid $red;
    color: $red;
  }
}
