.c-sidebar {
  width: 274px;
  height: 319px;
  @include xs {
    width: 100%;
    height: auto;
    overflow: hidden;
    max-height: 0;
    transition: 0.3s all ease-in-out;
  }
  .is-expand & {
    max-height: 400px;
  }
  &__content {
    background: $white;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    padding: 23px;
    box-sizing: border-box;
    height: 100%;
  }
  &__category {
    list-style-type: none;
    text-align: left;
    font-family: $font-b;
    color: $gray;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1.2;
    padding: 15px 0;
    cursor: pointer;
    position: relative;
    &:hover {
      color: $yellow;
      &:after {
        content: "";
        position: absolute;
        transform: translate(-50%, 50%);
        top: 0;
        right: 35px;
        width: 24px;
        height: 24px;
        background-position: center;
        background-size: 100%;
        background-image: url("https://img.icons8.com/external-those-icons-lineal-color-those-icons/24/d8ad3d/external-arrow-arrows-those-icons-lineal-color-those-icons.png");
        @include xs {
          background-image: none;
        }
      }
    }
  }
  .is-selected {
    color: $yellow;
    &:after {
      content: "";
      position: absolute;
      transform: translate(-50%, 50%);
      top: 0;
      right: 35px;
      width: 24px;
      height: 24px;
      background-position: center;
      background-size: 100%;
      background-image: url("https://img.icons8.com/external-those-icons-lineal-color-those-icons/24/d8ad3d/external-arrow-arrows-those-icons-lineal-color-those-icons.png");
      @include xs {
        background-image: none;
      }
    }
  }
}
