<template>
  <Overlay :loading="loading" />
  <main class="p-home__wrapper">
    <section class="p-home__banner">
      <img
        class="p-home__banner-img"
        src="@/assets/img/img-home-banner.png"
        alt="image home banner"
      />
      <div class="p-home__banner-wrapper">
        <h1 class="p-home__banner-logo">
          <img
            class="p-home__banner-logo-img"
            src="@/assets/img/img-logo.png"
            alt="image logo"
          />
        </h1>
        <div class="p-home__banner-title-content">
          <h2 class="p-home__banner-title">El secreto de tu cocina</h2>
          <img
            class="p-home__banner-brush"
            src="@/assets/img/img-banner-title-brush.png"
            alt="image brush title"
          />
        </div>
      </div>
      <div class="p-home__banner-rrss">
        <a
          class="c-social-link"
          href="http://www.facebook.com"
          target="_blank"
          tabindex="0"
        >
          <img
            class="c-social-link__img"
            src="@/assets/img/img-facebook.png"
            alt="image facebook"
          />
        </a>
        <a
          class="c-social-link"
          href="http://www.instagram.com"
          target="_blank"
          tabindex="0"
        >
          <img
            class="c-social-link__img"
            src="@/assets/img/img-instagram.png"
            alt="image instagram"
          />
        </a>
        <a
          class="c-social-link"
          href="http://www.youtube.com"
          target="_blank"
          tabindex="0"
        >
          <img
            class="c-social-link__img"
            src="@/assets/img/img-youtube.png"
            alt="image youtube"
          />
        </a>
      </div>
      <div></div>
    </section>
    <section class="p-home__articles">
      <HomeTitle text="Nuestros artículos" />
      <div class="p-home__articles-wrapper">
        <div class="p-home__articles-inner">
          <div class="p-home__articles-select" @click="toggleSelectArticles()">Mostrar {{ selectArticle }}</div>
          <div class="p-home__sidebar-content" :class="{
              'is-expand': toggleSelectArticle,
            }">
            <aside class="c-sidebar">
              <ul class="c-sidebar__content">
                <li
                  class="c-sidebar__category"
                  :class="{ 'is-selected': articleSelected === 'Todos' }"
                  @click="changeSelected('Todos')"
                >
                  Todos
                </li>
                <li
                  class="c-sidebar__category"
                  :class="{ 'is-selected': articleSelected === 'Productos' }"
                  @click="changeSelected('Productos')"
                >
                  Productos
                </li>
                <li
                  class="c-sidebar__category"
                  :class="{ 'is-selected': articleSelected === 'Recetas' }"
                  @click="changeSelected('Recetas')"
                >
                  Recetas
                </li>
                <li
                  class="c-sidebar__category"
                  :class="{ 'is-selected': articleSelected === 'Consejos' }"
                  @click="changeSelected('Consejos')"
                >
                  Consejos
                </li>
              </ul>
            </aside>
          </div>
        </div>
        <div class="p-home__lists-acticles">
          <CArticle v-for="article in articles" :article="article" :key="article.id" />
        </div>
      </div>
    </section>
    <section class="p-home__contact">
      <HomeTitle text="Contáctanos" />
      <form action @submit.prevent="handleSubmit">
        <div class="p-home__contact-inner">
          <div
            class="p-home__form-group"
            :class="{
              'is-error': v$.contact.firstname.$error,
            }"
          >
            <label class="p-home__form-label" for="">NOMBRE</label>
            <input class="c-input" placeholder="Alberto" v-model="contact.firstname" />
          </div>
          <div
            class="p-home__form-group"
            :class="{
              'is-error': v$.contact.lastname.$error,
            }"
          >
            <label class="p-home__form-label" for="">APELLIDO</label>
            <input class="c-input" placeholder="" v-model="contact.lastname" />
          </div>
          <div
            class="p-home__form-group"
            :class="{
              'is-error': v$.contact.email.$error,
            }"
          >
            <label class="p-home__form-label" for="">EMAIL</label>
            <input class="c-input" placeholder="" v-model="contact.email" />
          </div>
          <div
            class="p-home__form-group"
            :class="{
              'is-error': v$.contact.phone.$error,
            }"
          >
            <label class="p-home__form-label" for="">TELÉFONO</label>
            <input
              class="c-input"
              placeholder=""
              v-model.number="contact.phone"
              maxlength="9"
            />
          </div>
          <CButton
            class="p-home__form-button o-animation-animated"
            type="submit"
            text="enviar"
            :disabled="loading"
          />
        </div>
      </form>
    </section>
  </main>
</template>

<script>
import HomeTitle from "@/components/HomeTitle.vue";
import CArticle from "@/components/CArticle.vue";
import CButton from "@/components/CButton.vue";
import Overlay from "@/components/Overlay.vue";

import ArticlesService from "../_services/ArticlesService";
import ContactService from "../_services/ContactService";

import useVuelidate from "@vuelidate/core";
import { required, email, minLength } from "@vuelidate/validators";

export default {
  name: "Home",
  components: {
    HomeTitle,
    CButton,
    CArticle,
    Overlay,
  },
  mounted() {
    this.retrieveArticles();
  },

  data() {
    return {
      v$: useVuelidate(),
      loading: true,
      toggleSelectArticle: false,
      selectArticle: "Todos",
      articles: [],
      articleSelected: "",
      contact: {
        firstname: "",
        lastname: "",
        email: "",
        phone: "",
      },
    };
  },
  validations() {
    return {
      contact: {
        firstname: { required },
        lastname: { required },
        email: { required, email },
        phone: { required, minLength: minLength(9) },
      },
    };
  },
  methods: {
    toggleSelectArticles(){
      this.toggleSelectArticle = !this.toggleSelectArticle;
    },
    handleSubmit() {
      this.v$.$validate();
      if (!this.v$.$error) {
        this.sendContact(this.contact);
      }
    },
    async changeSelected(i) {
      this.articleSelected = i;
      this.selectArticle = i;
      if (i != "Todos") {
        const a = await ArticlesService.findByCategory(i)
          .then((response) => {
            this.articles = response.data;
          })
          .catch((e) => {
            console.log(e);
          });
      } else {
        const a = await ArticlesService.getAll()
          .then((response) => {
            this.articles = response.data;
          })
          .catch((e) => {
            console.log(e);
          });
      }
      this.toggleSelectArticle = false;
      this.loading = false;
    },
    async retrieveArticles() {
      const a = await ArticlesService.getAll()
        .then((response) => {
          this.articles = response.data;
        })
        .catch((e) => {
          console.log(e);
        });
      this.articleSelected = "Todos";
      this.loading = false;
    },
    async sendContact(data) {
      this.loading = true;
      const a = await ContactService.create(data)
        .then((response) => {
          this.loading = false;
        })
        .catch((e) => {
          console.log(e);
        });
    },
  },
};
</script>
