.p-home {
  &__wrapper {
    width: 100%;
    box-sizing: border-box;
    max-width: calc(1440px + 30px);
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    padding-bottom: 50px;
    @include xs {
      overflow: hidden;
    }
  }
  &__banner {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    min-height: 805px;
    overflow: hidden;
    padding-top: 63px;
    @include xs {
      min-height: 350px;
      position: relative;
      left: -15px;
      width: calc(100% + 30px);
    }
    &-wrapper {
      position: relative;
      padding-left: 100px;
      padding-right: 60px;
      width: 100%;
      box-sizing: border-box;
      @include xs {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    &-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &-logo {
      margin: 0;
      text-align: left;
    }
    &-logo-img {
      position: relative;
      width: 150px;
      height: 90px;
    }
    &-title-content {
      width: 100%;
      max-width: 635px;
      text-align: left;
      position: relative;
      margin-top: 144px;
      @include xs {
        margin-top: 30px;
      }
    }
    &-title {
      margin: 0;
      font-family: $font-a;
      font-size: 120px;
      color: $black;
      line-height: 1;
      font-weight: 700;
      z-index: 1;
      position: relative;
      @include xs {
        font-size: 48px;
      }
    }
    &-brush {
      position: absolute;
      left: calc(-250px - 100px);
      bottom: -18%;
      width: 900px;
      z-index: 0;
    }
    &-rrss {
      position: absolute;
      top: 50px;
      right: 60px;
      @include xs {
        top: 20px;
        right: 20px;
      }
    }
  }
  &__articles {
  }
  &__articles-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    padding-top: 75px;
    margin-bottom: 100px;
    @include xs {
      padding-top: 20px;
      margin-bottom: 30px;
      flex-direction: column;
    }
  }
  &__articles-inner {
  }
  &__articles-select {
    display: none;
    padding: 15px;
    background-color: $black;
    color: $white;
    font-size: 14px;
    cursor: pointer;
    font-family: $font-b;
    @include xs {
      display: block;
    }
  }
  &__lists-acticles {
    display: grid;
    width: calc(100% - 280px);
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-column-gap: 30px;
    row-gap: 36px;
    box-sizing: border-box;
    @include xs {
      width: 100%;
    }
  }
  &__sidebar-content {
    @include xs {
      margin-bottom: 20px;
    }
  }
  &__contact {
    &-inner {
      width: 100%;
      max-width: 770px;
      box-sizing: border-box;
      margin-left: auto;
      margin-right: auto;
      padding-top: 60px;
      padding-left: 15px;
      padding-right: 15px;
      display: flex;
      flex-wrap: wrap;
      @include xs {
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
      }
    }
  }
  &__form {
    &-group {
      width: 50%;
      padding: 0 10px;
      box-sizing: border-box;
      text-align: left;
      margin-bottom: 10px;
      @include xs {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
      }
    }
    &-label {
      color: $black;
      font-family: "Open Sans", sans-serif;
      font-size: 13px;
      font-weight: 700;
      text-align: left;
      line-height: 24px;
    }
    &-button {
      margin-top: 20px;
      margin-left: auto;
      margin-right: 10px;
    }
  }
}
