<template>
  <article class="c-article">
    <div class="c-article__inner">
      <figure class="c-article__content">
      <div class="c-article__image o-animation-animated">
        <img
          class="o-animation-animated"
          :alt="`image ${article.title}`"
          :src="article.image"
        />
      </div>
      <figcaption class="c-article__info">
        <h3 class="c-article__title">{{ article.title }}</h3>
        <p class="c-article__subtitle">
          {{ article.content }}
        </p>
          <a href="" class="c-article__link o-animation-animated" tabindex="0"
            >VER MÁS</a
          >
   
      </figcaption>
    </figure>
    </div>
  </article>
</template>

<script>
export default {
  props: {
    article: {
      type: Object,
      required: true,
    },
  },
};
</script>
<style lang="scss">
.c-article {
}
</style>