<template>
  <h2 class="c-home-title__title">
    {{ text }} <span class="c-home-title__brush"></span>
  </h2>
</template>

<script>
export default {
  name: "hometitle",
  props: {
    text: {
      type: String,
      required: true,
    },
  },
};
</script>