<template>
  <a class="c-social-link" :class="linkStyle" v-bind:href="href">
    <img v-bind:src="picture_src" alt="" />
  </a>
</template>

<script>
export default {
  name: "SocialLink",
  props: {
    link: {
      type: String,
      default: "",
    },
    linkStyle: {
      type: String,
      default: "",
    },
    image: {
      type: String,
      default: "",
    },
  },
};
</script>

<style lang="scss" scoped>
</style>